div#box-shadow {
    display: inline-block;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 1px lightgrey ;
    
}

div#box-shadow:hover {
    box-shadow: 1px 1px 10px 2px lightgrey ;
}

div.pikachu {
    display: inline-block;
}

div#stats {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 10px;
    padding-bottom: 20px;
}

.space {
    padding: 2px;
}

